body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #6edbeb;
}

header {
    text-align: center;
    background-color: #8eeded;
    color: #000000;
    padding: 1rem 0;
}

header h1 {
    margin: 0;
}

header p {
    margin: 0;
    font-size: 1.2rem;
}

section {
    padding: 2rem;
    background-color: #e5f1f0;
    margin-bottom: 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
}

#contact p {
    margin: 0.5rem 0;
}